.main_news {
    margin-left: 5%;
    margin-top: 10%;
    position: absolute;
    color: rgb(180, 184, 189);
}

.main_news_image img {
    transition: all 0.4s;
    border-radius: 12px;
    cursor: pointer;
}

.main_news_image img:hover {
    transform: scale(105%);
}

.main_news_text {
    cursor: pointer;
    margin-left: 37%;
}

.main_news_title {
    font-size: 300%;
    font-family: 'Roboto Flex';
    font-weight: 700;
    transition: all 0.5s;
}

.main_news_description {
    font-size: 120%;
    font-family: 'SF Pro Display Regular';
    transition: all 0.3s;
}

.main_news_description:hover {
    font-size: 125%;
}

.more_info {
    place-items: center;
    width: 270px !important;
    height: 60px !important;
    font-family: 'Montserrat-Bold';
    font-size: 150%;
    position: relative;
    margin-top: 1.2%;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
    border: 2px solid transparent;
    border-radius: 35px;
    border-radius: 60px;
    display: inline-block;
    background: linear-gradient(20deg, #FF512F, #DD2476);
    background-size: 150%;
    background-position: -1500%;
    box-shadow: inset 0px 0px 0px 100vw #28292b;
    }

.more_info:hover {
    box-shadow: inset 0px 0px 0px 100vw #db0025;
    color: #f0eded;
    border: 2px solid transparent;
    background: #db0025;
    font-size: 155%;
}

.more_info:active {
    transform: scale(105%);
}

.more_info_text {
    line-height: 55px;
}

.main_news_title:hover {
    font-size: 310%;
}

.latest_news {
    mask-image: linear-gradient(90deg,#000 0 calc(100% - 20%), transparent);
    -webkit-mask-image: linear-gradient(90deg,#000 0 calc(100% - 20%), transparent);
    margin-top: 1%;
    position: relative;
    margin-bottom: 2%;
    margin-left: 5%;
    padding-bottom: 0.5%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;  
    overflow-y: hidden;  
    white-space: nowrap;  
    transition: all 0.2s;   
    will-change: transform;
    user-select: none;  
    cursor: pointer;
    text-align: center;
    color: rgb(180, 184, 189);
    font-family: 'SF Pro Display Regular';
    font-size: 120%;
    scroll-behavior: smooth;
}

.latest_news_text {
    margin-left: 5%;
    margin-top: 26%;
    position: relative;
    color: rgb(227, 229, 231);
    font-family: 'Founder';
    font-size: 200%;
}

.latest_news img {
    border-radius: 8px;
    cursor: grab;
}

.latest_news::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.latest_news::-webkit-scrollbar-track {
    background: rgb(17, 17, 17);
}

.latest_news::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92);
    border-radius: 35px;
    border: 3px solid rgb(92, 92, 92);
}

.latest_new {
    cursor: all-scroll;
    flex: 0 0 auto;
    width: 22%;
    margin-right: 3%;
    display: inline-block;
}

.trend_news_info {
    margin-bottom: 1%;
    margin-left: 5%;
    position: relative;
    color: rgb(227, 229, 231);
    font-family: 'Founder';
    font-size: 200%;
}

.trend_news {
    mask-image: linear-gradient(90deg,#000 0 calc(100% - 20%), transparent);
    -webkit-mask-image: linear-gradient(90deg,#000 0 calc(100% - 20%), transparent);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;  
    overflow-y: hidden;  
    white-space: nowrap;  
    transition: all 0.2s;   
    will-change: transform;
    margin-bottom: 2%;
    margin-left: 5%;
    height: 93%;
    padding-bottom: 0.5%;
}

.trend_new {
    margin-right: 3%;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgb(84, 84, 84);
    background-color: rgb(31, 31, 32);
    width: 22%;
    height: 50vh;
    flex: 0 0 auto;
    display: inline-block;
    transition: all 0.3s;
    transition: transoform 15s;
}

.trend_new:hover {
    border: 1px solid rgb(228, 36, 68);
}

.latest_new:hover .text{
    opacity:1;
  }

.trend_new img {
    border-radius: 15px;
    display: block;
    margin: 0 auto; 
    margin-top: 6%;
}

.trend_new_title {
    margin-left: 6%;
    padding-right: 6%;
    color: rgb(227, 229, 231);
    font-family: 'Founder';
    font-size: 180%;
    margin-top: 2%;
    white-space: normal;
}

.trend_new_text {
    white-space: normal;
    margin-left: 6%;
    padding-right: 6%;
    color: rgb(227, 229, 231);
    font-family: 'Founder-Light';
    font-size: 110%;
    margin-top: 2%;
}

.trend_news::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.trend_news::-webkit-scrollbar-track {
    background: rgb(17, 17, 17);
}

.trend_news::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92);
    transition: all 0.3s;
    border-radius: 35px;
    border: 3px solid rgb(92, 92, 92);
}

.trend_news::-webkit-scrollbar-thumb:hover {
    background-color: rgb(139, 137, 137);
    border-radius: 35px;
    border: 3px solid rgb(139, 137, 137);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17,17,17);
    position: relative;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    display: grid;
    scroll-behavior: smooth;
}

a {
    color: rgb(228,6,19);
    text-decoration: none;
}
    
a:visited {
    color: rgb(228,6,19);
    text-decoration: none;
}

header {
    top: 0;
    opacity: 1;
    padding-right: 2%;
    position: relative;
}

#a {
    font-family: 'Founder';
    margin-top: 3%;
    font-weight: 400;
    font-size: 120%;
    color: rgb(180, 184, 189);
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s;
}

#a::after {
    background-image: linear-gradient(20deg, #FF512F, #DD2476);
    background-size: 100%;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

#a:hover::after, a:focus::after {
    width: 100%;
}

#a:hover {
    /* color: rgb(228, 36, 68); */
    background-image: linear-gradient(20deg, #FF512F, #DD2476);
    background-size: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#a:first-child:hover::after, #a:last-child:hover::after {
    width: 0%;
}

#a:last-child:hover {
    background: linear-gradient(to right, #de1d36, #9b0782);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 300%;
    animation: flow 5s ease-in-out infinite;
}

#a:nth-last-child(5) {
    vertical-align: middle;
    text-align: center;
    width: 5%;
    border: #fff 2px solid;
    border-radius: 35px;
    padding-top: 3px;
    margin-top: 2.83%;
}

#a:nth-last-child(5):hover::after {
    width: 0%;
}

#a:first-child:hover {
    opacity: 0.5;
}

.main_wanderer {
    float: left !important;
    margin-left: 2%;
    margin-top: 2% !important;
}

.main_wanderer img {
    width: 100%;
    height: auto;
    margin: 2px;
    max-width: 220px;
}

footer {
    z-index: 0;
    position: absolute;
    font-family: 'Poppins';
    color: #fff;
    padding: 70px 0;
    background-color: rgb(22, 22, 22);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
}
.container {
    max-width: 1170px;
    margin:auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.footer-col h4:hover {
    font-size: 20px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-image: linear-gradient(20deg, #FF512F, #DD2476);
    background-size: 100%;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    opacity: 1;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

#d {
    z-index: -100;
    margin-top: 3.5%;
    width: 100%;
    text-align: center;
}

.current_tab {
    background: linear-gradient(to right, #de1d36, #9b0782);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 300%;
    animation: flow 5s ease-in-out infinite;
    user-select: none;
    cursor: pointer;
}

.subscribtion {
    background-color: #000;
    margin-bottom: 40px;
    color: #fff;
    font-size: 250%;
    background: linear-gradient(132deg, #0080bf,#32cd32);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    padding-bottom: 5%;
    font-family: 'BlenderPro';
}

.subscribtion > p {
    text-align: center;
    font-weight: 700;
}

.ebaniy {
    font-family: 'BlenderPro';
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@media(max-width: 767px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px) {
  .footer-col{
    width: 100%;
}
}

@media (max-width:604px) {
    #a {
        display:none;
    }

    .main_wanderer {
        display: block !important;
    }

    .more_info {
        display: none;
    }
}

@media (max-width:745px) {
    .main_news_description {
        display: none;
    }
    
    .more_info {
        display: none;
    }
}

input, select, textarea{
    color: #afafaf;
    border: none;
    outline: none;
}