@font-face {
    font-family: 'SF Pro Display Bold';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/SF Pro Display/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/SF Pro Display/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Founder';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Founder/Founder-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Founder-Light';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Founder/Founder-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Founder-Bold';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Founder/Founder-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BlenderPro';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/BlenderPro/BlenderPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'BlenderPro-Thin';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/BlenderPro/BlenderPro-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'BlenderPro-Bold';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/BlenderPro/BlenderPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Flex';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Roboto Flex/RobotoFlex-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Tight';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Inter Sans/InterTight-SemiBold.ttf') format('truetype');
} 

@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/Roboto Condensed/RobotoCondensed-Medium.ttf') format('truetype');
} 

html {
    scroll-behavior: smooth
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0c0c0c;
    z-index: 1001;
}

.loaded_hiding .preloader {
    transition: 2s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}
  
body::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}
  
body::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: rgb(92, 92, 92);
    border-radius: 20px;
    border: 3px solid rgb(92, 92, 92);
}

::selection {
    background-color: rgb(78, 79, 80);
    color: rgb(26, 26, 26);
}