html, body { 
	width: 100%;
	height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

body {
  background-color: #111111;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.wanderer {
  top: 65vh;
  left: 9vh;
  position: absolute;
  font-family: 'Montserrat-Bold';
  font-size: 25vh;
  color: white;
  z-index: 0;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#myVideo {
  position: absolute;
  right: 0;
  opacity: 0.4;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  mask-image: linear-gradient(180deg,#000 0 calc(100% - 40%), transparent);
  -webkit-mask-image: linear-gradient(180deg,#000 0 calc(100% - 40%), transparent);
}

header {
  top: 0;
  opacity: 1;
  padding-right: 2%;
  position: absolute;
  width: 100%;
}

#a {
  font-family: 'Founder';
  margin-top: 3%;
  font-weight: 400;
  font-size: 120%;
  color: rgb(194, 194, 194);
  float: right;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  transition: opacity 0.3s;
}

#a:hover {
  opacity: 0.5;
}

#a:nth-last-child(5) {
  vertical-align: middle;
  text-align: center;
  width: 12vh;
  border: #fff 2px solid;
  border-radius: 35px;
  padding-top: 1px;
  margin-top: 2.9%;
}

.main_wanderer {
  float: left !important;
  margin-left: 2%;
  margin-top: 2% !important;
}

.main_wanderer img {
  width: 100%;
  height: auto;
  margin: 2px;
  max-width: 220px;
}

a {
  color: rgb(44, 132, 255);
  text-decoration: none;
}
  
a:visited {
  color: rgb(44, 132, 255);
  text-decoration: none;
}

.content {
  top: 100vh;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-family: 'BlenderPro';
  font-size: 130%;
  text-indent: 2%;
  text-align: left;
}

.trend_new {
  display: flex;
  width: 49%;
  height: 36.5%;
  background-color: rgba(22, 27, 34, 0.592);
  border-radius: 20px;
  margin-left: 15%;
  border: #fff 1px solid;
  font-family: 'BlenderPro-Bold';
  font-size: 210%;
  color: #fff;
  display: flex !important;
  flex-wrap: nowrap;
  white-space: nowrap;
  cursor: pointer;
}

#trend_blocks p {
  margin-top: 1%;
}

#trend_blocks img {
  margin-top: 0.7%;
  border-radius: 15px;
}

.left {
  margin-left: 2.5%;
  margin-top: 0.5%;
  flex: none;
  width: 60%;
}

.right {
  margin-left: -3%;
  margin-top: 0.5%;
  width: 40%;
}

.right > div {
  flex-wrap: wrap;
  white-space: normal;
  flex: none;
  display: block;
  clear: both;
}

.right > #description {
  font-family: 'BlenderPro';
  font-size: 60%;
}

.left > img {
  margin-top: 0.7%;
  border-radius: 14px;
}

.communication {
  display: flex;
  width: 20%;
  height: 36.5%;
  background-color: rgba(22, 27, 34, 0.592);
  border-radius: 20px;
  border: #fff 1px solid;
  font-family: 'BlenderPro-Bold';
  font-size: 180%;
  color: #fff;
  float: none !important;
  cursor: pointer;
  flex-flow: column wrap;
  text-align: center;
  vertical-align: middle;
}

.communication h1 {
  margin-top: 13.5%;
}

.communication h5 {
  font-size: 80%;
}

#row1 {
  float: left;
  margin-right: 2%;
}

#row2 {
  margin-top: 2vw;
  float: left;
  margin-right: 2%;
}

.recommendations {
  margin-left: 15%;
  display: flex;
  width: 71%;
  height: 36.5%;
  background-color: rgba(22, 27, 34, 0.592);
  border-radius: 20px;
  border: #fff 1px solid;
  font-family: 'BlenderPro-Bold';
  font-size: 180%;
  color: #fff;
  float: none !important;
  cursor: pointer;
  flex-flow: column wrap;
  text-align: center;
  vertical-align: middle;  
}

.recommendations > .left {
  width: 40%;
  height: 95%;
}

.projects {
  margin-left: 15%;
  display: flex;
  width: 71%;
  height: 28%;
  background-color: rgba(22, 27, 34, 0.592);
  border-radius: 20px;
  border: #fff 1px solid;
  font-family: 'BlenderPro-Bold';
  text-align: center;
  margin-top: 2%;
  font-family: 'BlenderPro-Bold';
  font-size: 340%;
  color: #fff;
  float: none !important;
  cursor: pointer;
  flex-flow: column wrap;
  text-align: center;
}

.to_projects {
  opacity: 0.5; 
  cursor: pointer;
  transition: all .3s;
}

.to_projects:hover {
  opacity: 1;
}

footer {
  margin-top: 3%;
  z-index: 0;
  position: absolute;
  font-family: 'Poppins';
  color: #fff;
  padding: 70px 0;
  background-color: rgb(22, 22, 22);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

ul {
  list-style: none;
}
.container {
  max-width: 1170px;
  margin:auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
 width: 25%;
 padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.footer-col h4:hover {
  font-size: 20px;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-image: linear-gradient(20deg, #24C6DC, #514A9D);
  background-size: 100%;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  opacity: 1;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

#d {
  z-index: -100;
  margin-top: 3.5%;
  width: 100%;
  text-align: center;
}

/* .current_tab {
  background: linear-gradient(to right, #159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 300%;
  animation: flow 5s ease-in-out infinite;
  user-select: none;
  cursor: pointer;
} */

@keyframes flow {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}