* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17,17,17);
    position: relative;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    display: grid;
    scroll-behavior: smooth;
}

a {
    color: rgb(228,6,19);
    text-decoration: none;
}
    
a:visited {
    color: rgb(228,6,19);
    text-decoration: none;
}

header {
    top: 0;
    opacity: 1;
    height: 140%;
    padding-right: 2%;
    position: relative;
}

.main_wanderer {
    float: left !important;
    margin-left: 2%;
    margin-top: 2% !important;
}

.main_wanderer img {
    width: 100%;
    height: auto;
    margin: 2px;
    max-width: 220px;
}

#a {
    font-family: 'Founder';
    margin-top: 3%;
    font-weight: 400;
    font-size: 120%;
    color: rgb(180, 184, 189);
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s;
}

#a::after {
    background-image: linear-gradient(20deg, #FF512F, #DD2476);
    background-size: 100%;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

#a:hover::after, a:focus::after {
    width: 100%;
}

#a:hover {
    /* color: rgb(228, 36, 68); */
    background-image: linear-gradient(20deg, #FF512F, #DD2476);
    background-size: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#a:first-child:hover::after, #a:nth-last-child(3):hover::after {
    width: 0%;
}

#a:nth-last-child(3):hover {
    background: linear-gradient(to right, #159957, #155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 300%;
    animation: flow 5s ease-in-out infinite;
}

#a:nth-last-child(5) {
    vertical-align: middle;
    text-align: center;
    width: 5%;
    border: #fff 2px solid;
    border-radius: 35px;
    padding-top: 3px;
    margin-top: 2.83%;
}

#a:nth-last-child(5):hover::after {
    width: 0%;
}

#a:first-child:hover {
    opacity: 0.5;
}

footer {
    z-index: 0;
    position: absolute;
    font-family: 'Poppins';
    color: #fff;
    padding: 70px 0;
    background-color: rgb(22, 22, 22);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
}
.container {
    max-width: 1170px;
    margin:auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.footer-col h4:hover {
    font-size: 20px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-image: linear-gradient(20deg, #FF512F, #DD2476);
    background-size: 100%;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    opacity: 1;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

#d {
    z-index: -100;
    margin-top: 3.5%;
    width: 100%;
    text-align: center;
}

.current_tab {
    background: linear-gradient(to right, #159957, #155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 300%;
    animation: flow 5s ease-in-out infinite;
    user-select: none;
    cursor: pointer;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.main_image {
    transition: all .6s;
    text-align: center;
    margin-top: 2.5%;
}

.main_image img {
    transition: all .6s;
}

.main_image img {
    filter: brightness(60%);
    cursor: pointer;
}

.main_image img:hover {
    transform: scale(102%);
}

.main_image img {
    border-radius: 20px;
}

.main_description {
    left: 50%;
    color: white;
    font-size: 250%;
    margin-top: -25%;
    position: absolute;
    transform: translateX(-50%);
    font-family: 'Founder-Bold';
}

.title {
    color: white;
    font-size: 250%;
    margin-top: 2%;
    text-align: center;
    font-family: 'Founder-Bold';
}

.social-links > .info {
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-family: 'BlenderPro';
    font-size: 130%;
    text-indent: 2%;
    text-align: left;
    width: 70%;
    position: absolute;
}

#block {
    width: 60%;
    height: 10%;
    color: #fff;
    font-size: 200%;
    background-color: rgba(22, 27, 34, 0.592);
    border: #fff 1px solid;
    border-radius: 10px;
    margin-top: .5%;
    margin-left: 20%;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 30px;
    cursor: pointer;
    font-family: 'BlenderPro-Bold'; 
}

footer {
    margin-top: 3%;
    z-index: 0;
    position: absolute;
    font-family: 'Poppins';
    color: #fff;
    padding: 70px 0;
    background-color: rgb(22, 22, 22);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  .container {
    max-width: 1170px;
    margin:auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
   width: 25%;
   padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .footer-col h4:hover {
    font-size: 20px;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-image: linear-gradient(20deg, #159957, #155799);
    background-size: 100%;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    opacity: 1;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  #d {
    z-index: -100;
    margin-top: 3.5%;
    width: 100%;
    text-align: center;
  }