body {
    background-color: rgb(17,17,17);
    overflow-x: hidden;
}

* {

    box-sizing: border-box;
  }
  
  .wanderer {
    top: 65vh;
    left: 9vh;
    position: absolute;
    font-family: 'Montserrat-Bold';
    font-size: 25vh;
    color: white;
    z-index: 0;
  }

header {
    top: 0;
    opacity: 1;
    padding-right: 2%;
    position: absolute;
    width: 100%;
  }
  
  #a {
    font-family: 'Founder';
    margin-top: 3%;
    font-weight: 400;
    font-size: 120%;
    color: rgb(194, 194, 194);
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    transition: opacity 0.3s;
  }
  
  #a:hover {
    opacity: 0.5;
  }
  
  #a:nth-last-child(6) {
    vertical-align: middle;
    text-align: center;
    width: 12vh;
    border: #fff 2px solid;
    border-radius: 35px;
    padding-top: 1px;
    margin-top: 2.9%;
  }
  
  .main_wanderer {
    float: left !important;
    margin-left: 2%;
    margin-top: 2% !important;
  }
  
  .main_wanderer img {
    width: 100%;
    height: auto;
    margin: 2px;
    max-width: 220px;
  }

  
.info {
    margin-top: 20%;
    text-align: center;
    color: white;
    font-family: 'BlenderPro-Bold';
    font-size: 200%;
}

.error {
  left: 0;
  z-index: -1;
  opacity: 0.4;
  margin-top: -8%;
  font-size: 3000%;
  position: absolute;
  white-space: nowrap;
  color: rgb(78, 76, 76);
  font-family: 'Founder-Bold';
  animation: move 50s linear infinite alternate;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}